        <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><i class="icon-user"></i> Tessa Raedschelders</li>
                        <li><i class="icon-phone"></i> Telefoon: 0485 52 93 47</li>
                        <li><i class="icon-envelope"></i> E-mail: <a href="#">tessa.raedschelders@email.com</a></li>
                    </ul>
                    <ul class="social-bookmarks clearfix">
                        <li class="facebook"><a href="https://www.facebook.com/SherborneDendermonde/?fref=ts" target="_blank">facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="copy">© 2016 - Alle rechten voorbehouden</div>
        </footer><!-- End footer -->