   		<header>
           <div class="container">
            <div class="row">
        	<div class="col-md-4 col-xs-3"><h1 id="logo"><a href="index.html" title="{{title}}">{{title}}</a></h1></div>
            <nav class="col-md-8 col-xs-9">
            	<ul id="main-nav" class="sf-menu" >
            	    {{#menu}}
                    <li><a href="{{url}}">{{name}}</a></li>
                    {{/menu}}
                </ul>
            </nav><!-- End Nav -->
         </div>
        </div><!-- End container -->
      </header> <!-- End header -->